.background-lightblue {
    background-color: lightblue;
}

.background-lightgreen {
    background-color: lightgreen;
}

.background-repeat-fixed {
    background-image: url('Tamanduá-bandeira.-Luiz-Carlos-Rocha-Flickr-2008.jpg');
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
}

.background-repeat-vertical {
    background-image: url('besouro_900.jpg');
    background-repeat: repeat-y;
}

.background-no-repeat {
    background-image: url('Feinho-ne-Conheca-o-peixe-bolha-e-o-motivo-de-sua-aparencia-tao-estranha-1.jpg');
    background-repeat: no-repeat;
}

.background-center-no-repeat {
    background-image: url('46.Baiacu.png');
    background-repeat: no-repeat;
    background-position: center;
}

.background-yellow-center-no-repeat-scroll {
    background-color: yellow;
    background-image: url('sua-imagem.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}
